body { 
    background-color: #F2FCEA; 
}
.conversation-window {
    height: 300px;
    padding: 5px 5px 0;
    overflow-y: scroll;
    overflow-x: hidden;
}
.contentDiv{
    background-color: green;
    min-height: 300px;
    border: 1px solid black;
    padding: 4px;
}
.conversation {
    background-color: #efefef;
    padding: 10px 10px 10px;
    min-height: 280px;
    max-width: 100%;
}
.conversation p {
    font-family: "Courier New", Courier, monospace;
    font-size: 12px;
    margin: 0 0 5px;
    text-indent: -70px;
    padding-left: 70px;    
}
.input-box {
    padding: 5px;
}
.input-box input[type=text] {
    width: 380px;
    border: 1px solid #dedede;
    height: 30px;
    outline: 0;
    padding-left: 10px;
    border-radius: 0 0 0 10px;
}